footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
#sidebarMenu {
    padding-right: 20px;
    padding-top: 20px;
    min-height: calc(100vh - 50px);
}

.navFirst {
    margin-right: 15px;
}

.div-top-dashboard {
    margin-top: 70px;
}

#sidebarMenu {
    top: 50px;
    position: fixed;
}
