{% extends "layout.html" %}


{% block content %}


<form action="">

    <div class="container-fluid">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h3 class="my-0 font-weight-normal"> Cadastro de Máquina</h3>
            </div>
            <h1>FORM</h1>
            <span> 
                <a class="btn btn-primary btn-lg " href="{{url_for('doc_pdf_thunderbird')}}" role="button" target="_blank">Cadastrar</a>
              </span>
              <br>
          </div>
        </div>
      </div>

</form>


{% endblock %}

{% block scripts %}

{% endblock %}