{% extends "layout.html" %}


{% block content %}


<form action="" class="container-fluid">
        <div class="text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h3 class="my-0 font-weight-normal"> Cadastro de Máquina / Raspberry</h3>
            </div>
            <div class="card-body d-flex justify-content-center">
              <div class="col-md-8 order-md-1">
                <form class="needs-validation" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="ur">Ur</label>
                      <input type="text" class="form-control" name="ur" placeholder="Apenas para máquinas">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="ip">Ip</label>
                      <input type="text" class="form-control" name="ip" required>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="hostname">Hostname</label>
                    <input type="text" class="form-control" name="hostname" required>
                  </div>
                  <div class="mb-3">
                    <label for="local">Local</label>
                    <input type="text" class="form-control" name="local" required>
                  </div>
                  <div class="mb-3">
                    <label for="address2">Setor</label>
                    <input type="text" class="form-control" name="setor">
                  </div>
                  <div class="row">
                    <div class="col-md-5 mb-3">
                      <label for="unidade">Unidade</label>
                      <select class="custom-select d-block w-100" name="unidade" required>
                        <option>.::Escolher::.</option>
                        <option value="HUR 1">HUR 1</option>
                        <option value="ANEXO">ANEXO</option>
                        <option value="HGMI">HGMI</option>
                      </select>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="equipamento">Tipo de Equipamento</label>
                      <select class="custom-select d-block w-100" name="equipamento" required>
                        <option>.::Escolher::.</option>
                        <option value="maquina" >Máquina</option>
                        <option value="raspberry">Raspberry</option>
                      </select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="zip">Ramal</label>
                      <input type="text" class="form-control" name="ramal">
                    </div>
                  </div>
                  <span> 
                    <a class="btn btn-primary btn-lg " href="{{url_for('doc_pdf_thunderbird')}}" role="button">Cadastrar</a>
                  </span>
            </div>
            </div>
          </div>
        </div>
</form>


{% endblock %}

{% block scripts %}

{% endblock %}