{% extends "layout.html" %}

{% block body %}

<br>
<div class="container-fluid">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal"> IP Máquinas - {{hospital}}</h4>
            </div>
            <div class="card-body">
                <table id="ipTable" class="table-responsive-lg" style="width:100%" style="background-color: rgb(26, 20, 80);">
                    <thead>
                        <tr>
                            <th>UR</th>
                            <th>IP</th>
                            <th>Hospital</th>
                            <th>Local</th>
                            <th>Setor</th>
                            <th>Ramal</th>
                            <th>
                              <!-- ícone do update -->
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-clockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.17 6.706a5 5 0 0 1 7.103-3.16.5.5 0 1 0 .454-.892A6 6 0 1 0 13.455 5.5a.5.5 0 0 0-.91.417 5 5 0 1 1-9.375.789z"/>
                                    <path fill-rule="evenodd" d="M8.147.146a.5.5 0 0 1 .707 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 1 1-.707-.708L10.293 3 8.147.854a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </th>
                            <th>
                              <!-- ícone da lixeira -->
                              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                <!-- Método para enviar os dados do banco para o html -->
                            {% for dado in dados %}
                                                <tr>
                                                    <td>{{dado["ur"]}}</td>
                                                    <td>{{dado["ip"]}}</td>
                                                    <td>{{dado["hospital"]}}</td>
                                                    <td>{{dado["local"]}}</td>
                                                    <td>{{dado["setor"]}}</td>
                                                    <td>{{dado["ramal"]}}</td>
                                                    <td>
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ip{{dado['ur']}}">
                                                          Atualizar
                                                        </button>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="ip{{dado['ur']}}" tabindex="-1" aria-labelledby="ipModalLabel" aria-hidden="true">
                                                          <div class="modal-dialog">
                                                            <div class="modal-content">
                                                              <div class="modal-header">
                                                                <h5 class="modal-title" id="ipModalLabel">UR: {{dado['ur']}}</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                                </button>
                                                              </div>
                                                              <div class="modal-body">
                                                                <form action="" method="post">
                                                                  <label for="">Novo IP:</label>
                                                                  <input type="text" name="">
                                                                </form>
                                                              </div>
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                                <button type="button" class="btn btn-success">Confirmar</button>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        </td>
                                                        <td>
                                                          <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete{{dado['ur']}}">
                                                          Deletar
                                                        </button>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="delete{{dado['ur']}}" tabindex="-1" aria-labelledby="ipModalLabel" aria-hidden="true">
                                                          <div class="modal-dialog">
                                                            <div class="modal-content">
                                                              <div class="modal-header">
                                                                <h5 class="modal-title" id="ipModalLabel">UR: {{dado['ur']}}</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                                </button>
                                                              </div>
                                                              <div class="modal-body">
                                                                <form action="" method="post">
                                                                  <label for="deleteIp">Deletar IP:</label>
                                                                  <input type="text" readonly name="deleteIp" value="{{dado['ip']}}" >
                                                                </form>
                                                              </div>
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                                <button type="button" class="btn btn-success">Confirmar</button>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        </td>
                                                </tr>
                            {% endfor %}
                </table>
            </div>
          </div>
    
</div>



{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function() {
      $('#ipTable').DataTable({
                              "language" : {
                                              "sProcessing":   "A processar...",
                                              "sLengthMenu":   "Mostrar _MENU_ registos",
                                              "sZeroRecords":  "Não foram encontrados resultados",
                                              "sInfo":         "Resultado(s) _START_ a _END_ de um total de _TOTAL_.",
                                              "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registos",
                                              "sInfoFiltered": "(filtrado de _MAX_ registos no total)",
                                              "sInfoPostFix":  "",
                                              "sSearch":       "Procurar:",
                                              "sUrl":          "",
                                              "oPaginate": {
                                                  "sFirst":    "Primeiro",
                                                  "sPrevious": "Anterior",
                                                  "sNext":     "Seguinte",
                                                  "sLast":     "Último"
                                              }
                                          },
                                  responsive: true,
                              // Retirada da visualização da quantidade dos itens por página.
                              "bLengthChange": false,
                              // Define o tamanho de registros a serem filtrados, o primeiro é o default, no caso o "5".
                              "lengthMenu": [5, 10, 25, 50, 75, 100 ]
                          });
                      });
  </script>
<script>
    console.log("saindo do block optional")
</script>

{% endblock %}