<!Doctype html>
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS BOOTSTRAP: ON -->
        {{ bootstrap.load_css() }}
        <link rel="icon" href="{{ url_for('static',filename='img/favicon/favicon_unimed.png')}}">
        <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"> -->
        <link rel="stylesheet" href="{{url_for('static',filename='css/datatables.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>TI - Unimed</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
            <!-- Carregar IMG -->
            <img src="{{url_for('static',filename='img/logo_unimed.png')}}" alt="logo_unimed">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-item btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Consulta IP <span class="sr-only">(current)</span></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="{{ url_for('ip_hur1') }}">HUR 1</a>
                              <a class="dropdown-item" href="{{url_for('ip_anexo_hur1')}}">ANEXO</a>
                              <a class="dropdown-item" href="{{ url_for('ip_hgmi') }}">HGMI</a>
                            </div>
                          </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-item btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Raspberry<span class="sr-only">(current)</span></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="{{ url_for('ip_rasp_hur1')}}">HUR 1</a>
                              <a class="dropdown-item" href="{{url_for('ip_rasp_anexo')}}">ANEXO</a>
                              <a class="dropdown-item" href="{{ url_for('ip_rasp_hgmi')}}">HGMI</a>
                            </div>
                          </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('links') }}">Link dos Painéis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('doc') }}">Documentos</a>
                    </li>
                </ul>
                
            </div>
        </nav>
        <br>
        <br>
        <br>
            <div class="container-fluid">
                <div class="row">
                    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                        <div class="sidebar-sticky pt-3">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{url_for('index')}}">
                                        <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                                        <span data-feather="home"></span>
                                        Dashboard <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('index')}}">
                                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                                        <span data-feather="file"></span>
                                        Usuários
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            {% block content %}{% endblock %}
                        </div>
        
        <!-- Your page content -->
        {% block body %}{% endblock %}
        <!-- Your page content - FIM -->

        
        <!-- JavaScript BOOTSTRAP: ON -->
        {{ bootstrap.load_js() }}

        <script src="{{ url_for('static',filename='js/datatables.js')}}"></script>

        <!-- Optional JavaScript -->
        {% block scripts %}
        {% endblock %}
        <!-- Optional JavaScript - FIM -->
            <!-- Footer -->
            <footer class="page-footer font-small blue">
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <a href="https://www.unimedrecife.com.br/#!"> Unimed Recife</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer - FIM -->
    </body>
</html>



 

